.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}
nav .logo img{
    max-width: 139px;
    max-height: 60px;
}
nav .naav a{
    margin-right: 32px;
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
}
nav .btn{
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
}