*{
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}
nav .logo img{
    max-width: 139px;
    max-height: 60px;
}
nav .naav a{
    margin-right: 32px;
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    font-size: 14px;
    margin: 0 auto;
    
}
.btn:hover {
      /* Text color jeta ache shetai thakbe */
}
.btn p{
    font-size: 16px;
}
.banner{
    background-image: url(assets/hero-bg.png);
    /* background: url("assets/hero-bg.png"); */
    height: 674px;
    max-width: 1600px;
    background-repeat: no-repeat;
    margin: 0px auto; 
}
.banner-heading{
    padding-top: 115px;
    margin: 0px auto;
    text-align: center;
    max-width: 1360px;
}
.button-early button{
    color: #469165;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
}
.banner-button{
    max-width: 465px;
    margin: 0 auto;
}
.not-just-note h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}
.banner-pra p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    padding-bottom: 32px;
}
/* .banner-button button{
    margin-right: 16px;
} */
.note-head h2{ 
    color: #001931;
    padding-top: 35px;
    padding-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;

}
.note-head p{ 
    color: #627382;
    font-size: 16px;
    text-align: center;
    padding-bottom: 44px;
}
.note-box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1360px;
    margin: 0 auto;
    
}
.box{
    box-shadow: 0 0px 8px 0 #0000000F;
    width: 322px;
}
.note-box .box img{
    width: 32px;
    background-color: #f95555;
    background-size: 60px; /* Set your desired background color */
    padding: 14px;
    border-radius: 50%;
    margin-top: 70px;
    margin-left: 131px;

    /* Optional: adjust padding as needed */
    /* Other styling like width, height, etc. */
}
.note-box .box h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-align: center;
    max-width: 274px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
.note-box .box P{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    max-width: 274px;
    text-align: center;
    padding-bottom: 25px;
    margin-left: 24px;
}
.solution{
    display: flex;
    gap: 60px;
    max-width: 1360px;
    margin: 0 auto;
}
.solution .text-main{
    padding-top: 102px;
}
.text-main .pragraph{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
}
.text-main h3{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding-bottom: 16px;
}
.text-main .pragrr{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 40px;
}
.checkbox {
    align-items: center;
}

.checkbox{
    display: flex;
    gap: 6px;
    align-items: center;
    padding-bottom: 16px;
}
.checkbox p{
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.ready-diiv{
    
    text-align: center;
}
.ready-textarea{
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 120px auto;
    background-color: #F7F6F2;
    max-width: 1360px;
}
.ready-button{
    text-align: center;
}
.ready-textarea h2{
    color:#001931;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}
.ready-pra p{
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    padding-bottom: 24px;
}
#bottonn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
footer{
    background-color: #001931;
}
.footeer{
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 120px;
}
.footer-logo{
    display: flex;
    gap: 1000px;
    align-items: center;
    padding-bottom: 80px;
}
.footer-logo-fb h4{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px; 
}